<div class="registro">
    <form class="custom-form" method="post">
        <div>
            <h2>Registro de Comentarios</h2>
        </div>
        <input type="text" [(ngModel)]="descripcion" name="descripcion" placeholder="descripcion de Comentario" required="required" />

        <input type="date" [(ngModel)]="fecha_registro" name="fecha_registro" placeholder="fecha_registro" required="required" />
        <div hidden>
            <input type="number" [(ngModel)]="usuario" name="usuario" placeholder="usuario logueado" min="1" value="1"
                required="required" />
        </div>
        <button type="submit" (click)="registro()">Registrar</button>
    </form>
</div>